<div id="wrapper">
<div id="image">
  <%= image_tag("inquiry.jpg", class: "topimg") %> 
</div><!-- image -->
<div id="inquiry-header">
  <h1>内容の確認</h1>
</div>

<%= form_for @inquiry, url:inquiry_thanks_path do |f| %>
<ul class="table">
  <li>お名前</li>
  <li><%= f.hidden_field :name %></li>
  <li><%= @inquiry.name %></li>
  <li>メールアドレス</li>
  <li><%= f.hidden_field :email %></li>
  <li><%= @inquiry.email %></li>
  <li>お問い合わせ内容</li>
  <li><%= f.hidden_field :message %></li>
  <li><%= simple_format(@inquiry.message) %></li>
</ul>

<div class="btn">
<%= f.submit'送信', class:'btn btn-primary' %>
</div>
<% end %>
  <div id="footer">
    <div id="t-footer">
      <p>Dive into Code By Naoki Sugiyama</p>
    </div>
    <div id="b-footer">
      <p>Copyright &copy; 2015 Dive into Code All Rights Reserved.</p>
    </div>
  </div>
</div>