<div id="header">
  <div class="header_title">
    <h1><a href="http://naokisugiyama-150802-118268.nitrousapp.com:3000/">Dive into Code</a></h1>
  </div><!-- header_title -->
  <div class="header_nav">
    <ul>
      <li><a href="http://naokisugiyama-150802-118268.nitrousapp.com:3000/">TOP</a></li>
      <li><a href="http://naokisugiyama-150802-118268.nitrousapp.com:3000/inquiry/">CONTACT US</a></li>
    </ul>
  </div><!-- header_nav -->
</div><!-- header -->
<div id="image">
  <%= image_tag("inquiry.jpg", class: "topimg") %> 
</div><!-- image -->
<div class="page-header">
  <h1>お問い合わせ</h1>
</div>
 
<%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :name %>
        <%= @inquiry.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @inquiry.email %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@inquiry.message) %>
      </td>
    </tr>
  </table>
  <%= f.submit '送信', :class => 'btn btn-primary' %>
<% end %>